html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  .jumbotron {
    animation: colorchange 45s infinite alternate;
    transition: all 0.5s ease;

    @keyframes colorchange {


      0% {
        background-color: #edffed;
      }

      10% {
        background-color: #fff8fe;
      }

      20% {
        background-color: #d7ebfa;
      }

      30% {
        background-color: #f6fffd;
      }

      40% {
        background-color: #f1f9ff;
      }

      50% {
        background-color: #d7faed;
      }

      60% {
        background-color: #dffffb;
      }

      70% {
        background-color: #d7ebfa;
      }
      80% {
        background-color: #fff4ff;
      }

      90% {
        background-color: #d7faed;
      }

      100% {
        background-color: #f2fcf2;
      }
    }
  }
}
